<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <!--<Properties>
    <Property name="logPath">logs</Property>
    <Property name="rollingFileName">metadata-service</Property>
  </Properties>-->
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <!--<PatternLayout pattern="[%-5level] %d{DEFAULT} %c{1}.%M() - %msg MULTIEXCEPTION %replace{%rException}{\n}{\u2028}%n"/>-->

    </Console>
    <!--
    <RollingFile name="rollingFile" fileName="${logPath}/${rollingFileName}.log" filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="[%highlight{%-5level}] %d{DEFAULT} %c{1}.%M() - %msg%n%throwable{short.lineNumber}" />
      <Policies>
        <OnStartupTriggeringPolicy />
        <TimeBasedTriggeringPolicy interval="1" modulate="true" />
      </Policies>
    </RollingFile>
    -->
  </Appenders>
  <Loggers>
    <Root level="INFO" additivity="false">
      <AppenderRef ref="console" />
      <!--<AppenderRef ref="rollingFile" />-->
    </Root>
    <logger name="com.amazonaws.services.kinesis.producer" level="warn"/>
    <logger name="com.amazonaws.services.kinesis.clientlibrary" level="warn"/>
    <logger name="com.amazonaws.services.kinesis.producer.LogInputStreamReader" level="warn"/>
  </Loggers>
</Configuration>

